
  <div class="clearfix alert alert-success">
    <span class="float-start">Create a job</span>
    <span class="float-end"><button type="button" class="btn btn-primary" (click)="updateForm()">Save Job</button></span>
  </div>
<form [formGroup]="profileForm" (ngSubmit)="updateForm()">
  
  <!-- id 	title 	sector 	qualification 	experience 	skills 	license 	salary 	remarks -->
    <div class="row">
       <div class="col-sm-6">
           <h2>Basic Info</h2>

           <label for="title">Job Title: </label>
           <input id="title" type="text" formControlName="title">

           <label for="sector">Sector: </label>
           <input id="sector" type="text" formControlName="sector">
           
       </div>
       <div class="col-sm-6">
        <div formGroupName="jobdetail">
          <h2>Job Detail</h2>

          <label for="qualification">Qualification: </label>
          <input id="qualification" type="text" formControlName="qualification">

          <label for="experience">Experience: </label>
          <input id="experience" type="text" formControlName="experience">

          <label for="skills">Skills: </label>
          <input id="skills" type="text" formControlName="skills">

          <label for="license">License: </label>
          <input id="license" type="text" formControlName="license">
        </div>
        
      </div>

</div>
</form>
