
  <div class="clearfix alert alert-success">
    <span class="float-start">Create a job</span>
    <span class="float-end"><button type="button" class="btn btn-primary" (click)="updateForm()">Save Job</button></span>
  </div>

<div formGroupName="address">
     <div class="row">
        <div class="col-sm-6">
            <h2>Basic Info</h2>

            <label for="street">Full Name: </label>
            <input id="street" type="text" formControlName="street">

            <label for="city">Contact: </label>
            <input id="city" type="text" formControlName="city">

            <label for="state">CPR: </label>
            <input id="state" type="text" formControlName="state">

            <label for="zip">Loction in Bharain: </label>
            <input id="zip" type="text" formControlName="zip">
        </div>
        <div class="col-sm-6">
            <h2>Educational Info</h2>

            <label for="street">Full Name: </label>
            <input id="street" type="text" formControlName="street">

            <h2>Job Looking for</h2>

            <label for="street">Full Name: </label>
            <input id="street" type="text" formControlName="street">

            <h2>Experience</h2>

            <label for="street">Full Name: </label>
            <input id="street" type="text" formControlName="street">
        </div>
    </div>

</div>