
    <!-- Toolbar -->
    <div class="container-fluid p-5 bg-primary text-white text-center">
      <h1>Indian Expatiate Forum</h1>
      <app-top-bar></app-top-bar>
    </div>
    <div class="container-sm mt-1">
      <div class="row">
        <div class="col-sm-4">
          <app-top-menu></app-top-menu>
          <h3>Embassy Services</h3>
          <p>Social Forum supports</p>
          <p>You can save the CVs and Jobs, later get the matches alert on your email or whats app</p>
          <div class="alert alert-dark" role="alert">
            Great people share great jobs!
          </div>

        </div>
        <div class="col-sm-8 mb-1 p-1">
          <router-outlet></router-outlet>
        </div>
        
      </div>
    </div>
    
 

