
    <!-- Toolbar -->
    <div class="container-fluid p-5 bg-primary text-white text-center">
      <h1>Indian Expatiate Forum</h1>
      <app-top-bar></app-top-bar>
    </div>
    <div class="container-sm mt-1">
      <div class="row">
        <div class="col-sm-4">
          <app-top-menu></app-top-menu>
          <h3>Embassy Services</h3>
          
          <p>You can save the CVs and Jobs, later get the matches alert on your email or whats app</p>
          <p>
            What are the best job skills to include on your resume? 
            Which skill set will help you get hired? 
            Do you know the difference between hard skills and soft skills? 
            How can you share your skills, expertise, and accomplishments with prospective employers?
          </p>
          <div class="alert alert-dark" role="alert">
            Great people share great jobs!
          </div>
          <h3>Social Forum Services</h3>
        </div>
        <div class="col-sm-8 mb-1 p-1">
          <router-outlet></router-outlet>
        </div>
        
      </div>
    </div>
    
 

