
   <div class="clearfix alert alert-success">
    <span class="float-start">Create a CV</span>
    <span class="float-end"><button type="button" class="btn btn-primary" (click)="updateForm()">Save CV</button></span>
  </div>

  <!-- id 	name 	education_1 	education_2 	id_type 	id_no 	current_job 	experience 	skills 	languages  -->
<form [formGroup]="cvForm">
   

    <div class="row">
        <div class="col-sm-6">
            <h2>Basic Info</h2>

            <label for="name" class="form-label">Full Name: </label>
            <input id="name" class="form-control" type="text" formControlName="name">

            <label for="education_1" class="form-label">Education_1: </label>
            <input id="education_1" class="form-control" type="text" formControlName="education_1">

            <label for="education_2" class="form-label">Education_2: </label>
            <input id="education_2" class="form-control" type="text" formControlName="education_2">

            <label for="id_type" class="form-label">Id Type: </label>
            <input id="id_type" class="form-control" type="text" formControlName="id_type">

            <label for="id_no" class="form-label">Id No: </label>
            <input id="id_no" class="form-control" type="text" formControlName="id_no">


        </div>

        <div class="col-sm-6">
            <h2>Job looking for</h2>
            <label for="current_job" class="form-label">Current Job: </label>
            <input id="current_job" class="form-control" type="text" formControlName="current_job">

            <label for="experience" class="form-label">Experience: </label>
            <input id="experience" class="form-control" type="text" formControlName="experience">

            <label for="skills" class="form-label">Skills: </label>
            <input id="skills" class="form-control" type="text" formControlName="skills">

            <label for="languages" class="form-label">Languages: </label>
            <input id="languages" class="form-control" type="text" formControlName="languages">
        </div>

    </div>
</form>